<?xml version="1.0"?>
<connectionStrings>
  <add name="MAIN" connectionString="Server=tcp:ekindbserver.database.windows.net,1433;Initial Catalog=AdessoRideShare;Persist Security Info=False;User ID=ekindba;Password=3k1nd84p@22w0rD!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
</connectionStrings>
